body {
    background-image: url("https://content.api.news/v3/images/bin/24d7e30404162cfff83653fa0afef28c");
}

img strong{
    float: left;
}

div {
    border: 2px dotted;
}

#robot {
    text-align: right;
}

.do-stuff {
    position: absolule;
    right: 10%;
    width: 500px;
    animation: stuff 15s;
    animation-iteration-count: infinite;
}

@keyframes stuff {
    0% {
        transform: scale(1);
        transform: rotate3d(1, 1, 1, 360deg);
    }
    100% {
        transform: scale(2);
        transform: rotate3d(1, 0, 2, 0deg);
    }
}