body {
    background-image: url("https://content.api.news/v3/images/bin/24d7e30404162cfff83653fa0afef28c");
    margin: auto;
    color: rgb(195, 0, 169);
    font-family: 'london-olympics','Comic Sans MS';
}

h1 {
    font-size: 6rem;
}

img {
    position: absolute;
    float: left;
    right: 300px;
}

div {
    border: 2px dotted;
}

#robot {
    text-align: right;
}

.do-stuff {
    transform: translateX(80px);
    width: 1200px;
    animation: stuff 15s;
    animation-iteration-count: infinite;
    cursor: zoom-out;
    border: 10px dotted rgb(234, 234, 96);
}

.platypi {
    cursor: progress;
}

div > .second {
    border-style: dashed;
}

div:hover {
    font-size: 14rem;
    margin: 10px;
    border-color: red;
    color: green;
}

@keyframes stuff {
    0% {
        transform: scale(1);
        transform: rotate3d(1, 1, 1, 360deg);
    }
    100% {
        transform: scale(2);
        transform: rotate3d(1, 0, 2, 0deg);
    }
}

@font-face {
    font-family: 'london-olympics';
    src: url("/files/londonolympics2012.TTF") format("truetype");
}